:root {
  --clr-theme-yellow: rgb(251, 188, 5);
  --clr-theme-yellow-02: rgba(251,188,5,.2);
  --clr-theme-grey: #808080;
  --clr-text: #e8ebf2;
  --bgr-clr-dark:  #191c1e;
  --font-main: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--bgr-clr-dark);
  color: var(--clr-text);
}

a {
  color: inherit;
  text-decoration: none;
}

.main-header {
  display: flex;
  position: fixed;
  z-index: 8;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 15px 10px -18px #2a323d;
}

.header-left-section {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.burger {
  width: 30px;
  height: 4px;
  background: var(--clr-theme-yellow);
  transition: all .5s ease-in-out;
}


.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: var(--clr-theme-yellow);
  transition: all .5s ease-in-out;
}
.burger::before {
  transform: translateY(-10px);
}
.burger::after {
  transform: translateY(10px);
}

.editor {
  width: 300px;
  height: calc(100vh - 77px);
  overflow: scroll;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 2em 1em;
  
}

.screen {
  height: calc(100vh - 77px);
  overflow: scroll;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;

}

.main-header {
 height: 77px;
}

.react-chatbot-kit-chat-container {
  border: 1px solid var(--clr-theme-yellow);
  background-color: var(--bgr-clr-dark);
  border-radius: 5px;
  
}

.react-chatbot-kit-chat-message-container {
  background-color: var(--bgr-clr-dark);
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
}

.react-chatbot-kit-chat-bot-message {
  background-color: var(--bgr-clr-dark) !important;
  border: 1px solid var(--clr-theme-yellow) !important; 
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: normal;
  position: relative;
  width: 184.5px;
  margin-left: auto;
  text-align: left;
}

.react-chatbot-kit-chat-bot-message-arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--clr-theme-yellow) !important;
  position: absolute;
  left: -7px;
  top: 13px;
}

.react-chatbot-kit-chat-btn-send {
  background-color: var(--clr-theme-yellow) !important;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
  font-size: 0.85rem;
  border-top: 1px solid var(--clr-theme-yellow) !important;
  border-bottom-left-radius: 5px;
  background-color: var(--bgr-clr-dark) !important;
  color: var(--clr-text) !important;
}


.container {
  display: flex;
}


.card-active {
  border: 3px solid var(--clr-theme-yellow);
}

.bot-button {
  background-color: pink;
  margin: .25em;
  padding: .75em;
  border-radius: 30px;
  border: 1px solid var(--clr-theme-yellow);
  color: #fff;
  background-color: var(--bgr-clr-dark);
}

.bot-button-hover {
  color: #fff;
  background-color: var(--clr-theme-yellow);
}




